In [1]:
# Import libraries
import pandas as pd
import numpy as np
from plotnine import *

# Blood Lead Levels in 2018 (from ENSANUT)

https://en.www.inegi.org.mx/programas/ensanut/2018/#tabular_data

https://en.www.inegi.org.mx/programas/ensanut/2018/#tabular_data

https://en.www.inegi.org.mx/contenidos/programas/ensanut/2018/doc/ensanut_2018_estructura_bd.pdf

UPM = Unidad Primaria de Muestreo (Sampling Unit)

VIV_SEL = Vivienda Seleccionada (Selected Household)

HOGAR = Numero de Hogar (Household Number)

NUMREN = Numero de Renglon (Row Number)

P9 = Anotar la concentraction de plomo (Record the lead concentration) (00.00...36.60) 99.90 -> not specified

P10 = (NOMBRE) tuvo valores elevados de plomo en sangre. ¿A qué cree usted que se debe esto? ((NAME) had elevated blood lead levels. What do you think could be the cause of this?)
* 1 -> "Al uso de cazuela, ollas, platos u otros trastes de barro vidriado" translates to "Using glazed clay
 pots, pans, plates, or other clayware" in English.
* 2 -> "Otro (especifica)" means "Other (specify)".
* 9 -> "No sabe" translates to "Don't know".

P10D = Specify

EDAD = Age

SEXO = 1 if male, 2 if female

ENT = Clave de Entidad Federativa (translates to "Federal Entity Code," which likely refers to the code assigned to the state or province 1-32)

DOMINIO = Domain (1 if urban, 2 if rural)

ALTITUD = Altitude in Meters

REGION = refers to "Region." (1 = North, 2 = Center, 3 = Mexico City, 4 = South)

EST_DIS = "Estrato de diseño" translates to "Design Stratum."

UPM_DIS = "UPM de diseño" means "Design Primary Sampling Unit."

ESTRATO = "Estrato sociodemográfico" refers to "Sociodemographic Stratum." (1 to 4)

FACTOR_MC = "Factor muestra capilar" translates to "Capillary Sample Factor."

P6_ANT = "¿Usted" means "You."

P7_1_ANT "¿Cuántos meses tiene de embarazo?" translates to "How many months pregnant are you?"

DIAS = "Diferencia en días entre la fecha de nacimiento y la fecha de levantamiento del cuestionario" means "Difference in days between the date of birth and the date the questionnaire was completed."

In [2]:
df = pd.read_csv("Data/CN_MUESAN_PLOMO.csv", encoding='latin1')
df

,UPM,VIV_SEL,HOGAR,NUMREN,P9,P10,P10D,EDAD,SEXO,ENT,DOMINIO,ALTITUD,REGION,EST_DIS,UPM_DIS,ESTRATO,FACTOR_MC,P6_ANT,P7_1_ANT,DIAS
0,1,4,1,9,0.0,NaN,NaN,3,1,1,1,1885,2,5,1,3,1226,NaN,NaN,1421
1,6,4,1,5,3.4,NaN,NaN,1,1,1,1,1885,2,4,6,2,957,NaN,NaN,655
2,8,4,1,4,3.6,NaN,NaN,1,1,1,1,1885,2,5,8,3,1147,NaN,NaN,387
3,20,1,1,2,4.2,NaN,NaN,29,2,1,1,1885,2,5,20,3,1252,1.0,99.0,10777
4,20,1,1,4,4.2,NaN,NaN,1,1,1,1,1885,2,5,20,3,1177,NaN,NaN,606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,3937,18,1,5,0.0,NaN,NaN,2,1,32,2,2109,2,298,3937,2,635,NaN,NaN,1079
3391,3937,19,1,6,4.3,NaN,NaN,4,2,32,2,2109,2,298,3937,2,635,NaN,NaN,1845
3392,3937,21,1,5,3.8,NaN,NaN,3,1,32,2,2109,2,298,3937,2,635,NaN,NaN,1420
3393,3938,10,1,4,4.4,NaN,NaN,2,2,32,2,1930,2,298,3938,2,568,NaN,NaN,1015
3394,3938,20,1,4,0.0,NaN,NaN,1,1,32,2,1930,2,298,3938,2,568,NaN,NaN,603

In [3]:
mexican_states = {
    1: "AGUASCALIENTES",
    2: "BAJA CALIFORNIA",
    3: "BAJA CALIFORNIA SUR",
    4: "CAMPECHE",
    5: "COAHUILA DE ZARAGOZA",
    6: "COLIMA",
    7: "CHIAPAS",
    8: "CHIHUAHUA",
    9: "DISTRITO FEDERAL",
    10: "DURANGO",
    11: "GUANAJUATO",
    12: "GUERRERO",
    13: "HIDALGO",
    14: "JALISCO",
    15: "MEXICO",
    16: "MICHOACAN DE OCAMPO",
    17: "MORELOS",
    18: "NAYARIT",
    19: "NUEVO LEON",
    20: "OAXACA",
    21: "PUEBLA",
    22: "QUERETARO DE ARTEAGA",
    23: "QUINTANA ROO",
    24: "SAN LUIS POTOSI",
    25: "SINALOA",
    26: "SONORA",
    27: "TABASCO",
    28: "TAMAULIPAS",
    29: "TLAXCALA",
    30: "VERACRUZ DE IGNACIO DE LA LLAVE",
    31: "YUCATAN",
    32: "ZACATECAS"
}

In [4]:
#Clean data
#Change ENT to state names
df["ENT"] = df["ENT"].astype(int)
df['ENT'] = df['ENT'].map(mexican_states)
df

#Change 99.90 to NaN for lead levels
df['P9'] = df['P9'].astype(float)
df['P9'] = np.where(df['P9'] > 40, np.nan, df['P9'])

df

,UPM,VIV_SEL,HOGAR,NUMREN,P9,P10,P10D,EDAD,SEXO,ENT,DOMINIO,ALTITUD,REGION,EST_DIS,UPM_DIS,ESTRATO,FACTOR_MC,P6_ANT,P7_1_ANT,DIAS
0,1,4,1,9,0.0,NaN,NaN,3,1,AGUASCALIENTES,1,1885,2,5,1,3,1226,NaN,NaN,1421
1,6,4,1,5,3.4,NaN,NaN,1,1,AGUASCALIENTES,1,1885,2,4,6,2,957,NaN,NaN,655
2,8,4,1,4,3.6,NaN,NaN,1,1,AGUASCALIENTES,1,1885,2,5,8,3,1147,NaN,NaN,387
3,20,1,1,2,4.2,NaN,NaN,29,2,AGUASCALIENTES,1,1885,2,5,20,3,1252,1.0,99.0,10777
4,20,1,1,4,4.2,NaN,NaN,1,1,AGUASCALIENTES,1,1885,2,5,20,3,1177,NaN,NaN,606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,3937,18,1,5,0.0,NaN,NaN,2,1,ZACATECAS,2,2109,2,298,3937,2,635,NaN,NaN,1079
3391,3937,19,1,6,4.3,NaN,NaN,4,2,ZACATECAS,2,2109,2,298,3937,2,635,NaN,NaN,1845
3392,3937,21,1,5,3.8,NaN,NaN,3,1,ZACATECAS,2,2109,2,298,3937,2,635,NaN,NaN,1420
3393,3938,10,1,4,4.4,NaN,NaN,2,2,ZACATECAS,2,1930,2,298,3938,2,568,NaN,NaN,1015
3394,3938,20,1,4,0.0,NaN,NaN,1,1,ZACATECAS,2,1930,2,298,3938,2,568,NaN,NaN,603

In [5]:
# Calculate the mean of the 'P9' column for each group defined by 'ENT'
mean_by_ent = df.groupby('ENT')['P9'].mean()
sorted_means = mean_by_ent.sort_values(ascending=False)
sorted_means.reset_index()

                                ENT        P9
0                            PUEBLA  5.257471
1                   SAN LUIS POTOSI  4.553488
2                          TLAXCALA  4.234074
3                            MEXICO  3.785263
4                    AGUASCALIENTES  3.528369
5                  DISTRITO FEDERAL  3.495122
6                            OAXACA  3.482123
7                        TAMAULIPAS  3.398611
8   VERACRUZ DE IGNACIO DE LA LLAVE  2.992059
9                         ZACATECAS  2.593289
10                           COLIMA  2.479500
11                          HIDALGO  2.456693
12              BAJA CALIFORNIA SUR  2.438372
13                          MORELOS  2.404211
14                         GUERRERO  2.339394
15                          JALISCO  2.232353
16                          DURANGO  2.118621
17              MICHOACAN DE OCAMPO  2.093107
18             COAHUILA DE ZARAGOZA  2.089706
19                          NAYARIT  2.061682
20                           SONORA  2.033708
21                  BAJA CALIFORNIA  1.856098
22                       GUANAJUATO  1.552174
23             QUERETARO DE ARTEAGA  1.541176
24                       NUEVO LEON  1.504225
25                        CHIHUAHUA  1.360606
26                          CHIAPAS  1.091558
27                     QUINTANA ROO  0.952055
28                          YUCATAN  0.858394
29                         CAMPECHE  0.775397
30                          TABASCO  0.684000
31                          SINALOA  0.319753

# Blood Lead Levels in 2022 (from ENSANUT)

This data came from https://ensanut.insp.mx/encuestas/ensanutcontinua2022/descargas.php.


Cuestionario de niveles de plomo en niños de 1 a 4 años de edad y mujeres embarazadas

This is the data from the National Survey on Health and Nutrition.

desc_mun = municipality

pl8	= Resultado de la segunda medición de plomo (result of the first lead measurement)

pl9	= Resultado de la segunda medición de plomo (result of second lead measurement)

Note: The set of basic tabular data here presented corresponds to the direct exploitation of the questions of the ENSANUT 2018 questionnaires. For some topics, the tabular data does not contain the official indicators of the Ministry of Health (SS) and the National Institute of Public Health (INSP). Subsequently, and in a coordinated manner with these institutions, the INEGI will be publishing the data and indicators under the criteria of the SS and the INSP.

In [6]:
df_2022 = pd.read_excel("Data/ensaplomo2022_entrega_w.xlsx",header=0)
df_2022

,FOLIO_I,FOLIO_INT,t_hora,t_min,t_sumai,t_sumaf,hora_ini_1,fecha_ini_1,hora_fin_1,fecha_fin_1,...,comentario,tiempo,hora_fin,fecha_fin,completa,otroent,ponde_f,estrato,est_sel,upm
0,2022_01001007,2022_01001007_04,15,0,885,900,14:45:01,2022-09-11 00:00:00,15:00:13,2022-09-11 00:00:00,...,NaN,15,15:00:13,2022-09-11 00:00:00,1,NaN,22328141314048,3,13,100100011320
1,2022_01001013,2022_01001013_07,19,3,1141,1143,19:01:39,20/11/2022,19:03:04,20/11/2022,...,NINGUNO,2,19:03:04,20/11/2022,1,NaN,281943590837403,3,13,100100011320
2,2022_01001016,2022_01001016_13,18,5,1082,1085,18:02:40,2022-10-11 00:00:00,18:05:09,2022-10-11 00:00:00,...,NINGUNO,3,18:05:09,2022-10-11 00:00:00,1,NaN,131693663256901,3,13,100100011320
3,2022_01001028,2022_01001028_06,10,25,613,625,10:13:45,2022-09-11 00:00:00,10:25:55,2022-09-11 00:00:00,...,NINGUNO,12,10:25:55,2022-09-11 00:00:00,1,NaN,284833885632398,3,13,100100011320
4,2022_01001034,2022_01001034_05,15,28,921,928,15:21:07,2022-09-11 00:00:00,15:28:49,2022-09-11 00:00:00,...,NINGUNO,7,15:28:49,2022-09-11 00:00:00,1,NaN,133918323791582,3,13,100100011320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155,2022_32053006,2022_32053006_03,13,46,727,826,12:07:34,19/11/2022,13:46:29,19/11/2022,...,NaN,99,13:46:29,19/11/2022,1,NaN,201094488740037,2,322,3205300010343
1156,2022_32053008,2022_32053008_03,19,28,1155,1168,19:15:13,20/11/2022,19:28:31,20/11/2022,...,NaN,13,19:28:31,20/11/2022,1,NaN,32260158847164,2,322,3205300010343
1157,2022_32053010,2022_32053010_03,15,54,950,954,15:50:39,19/11/2022,15:54:51,19/11/2022,...,NaN,4,15:54:51,19/11/2022,1,NaN,36013968582813,2,322,3205300010343
1158,2022_32053010,2022_32053010_04,15,14,910,914,15:10:23,19/11/2022,15:14:07,19/11/2022,...,NaN,4,15:14:07,19/11/2022,1,NaN,252786969827293,2,322,3205300010343
1159,2022_32053011,2022_32053011_07,21,4,1258,1264,20:58:18,20/11/2022,21:04:19,20/11/2022,...,NaN,6,21:04:19,20/11/2022,1,NaN,252786969827293,2,322,3205300010343

In [7]:
mean_by_ent = df_2022.groupby('desc_mun')['pl8'].mean()
sorted_means = mean_by_ent.sort_values(ascending=False)
sorted_means.reset_index()

                        desc_mun       pl8
0          009 CADEREYTA JIMÉNEZ  3.000000
1       046 SAN FELIPE ORIZATLÁN  2.333333
2            010 JALPA DE MÉNDEZ  2.285714
3                     114 PUEBLA  2.250000
4                    032 REYNOSA  2.200000
..                           ...       ...
247                  018 JIMÉNEZ  1.000000
248  018 CONTLA DE JUAN CUAMATZI  1.000000
249           016 MIGUEL HIDALGO  1.000000
250   016 COICOYÁN DE LAS FLORES  1.000000
251                027 HUEHUETLA  1.000000

[252 rows x 2 columns]

In [8]:
mean = df_2022['pl8'].mean()
mean

1.7775862068965518

In [9]:
#Average levels for entire state of Nueva Leon
filtered_df = df_2022[df_2022['desc_ent'] == '19 NUEVO LEÓN']
filtered_df['pl8'].mean()

1.7619047619047619

**Bokeh Visualization**

Which municipalities had the highest prevalence of elevated blood lead levels ( >= 5.0 μg/dL)?

In [10]:
import pandas as pd
from bokeh.io import output_file, show
from bokeh.models import ColumnDataSource, HoverTool
from bokeh.plotting import figure
from bokeh.transform import factor_cmap

In [11]:
# Example Data Preparation (using your provided code snippet)
mean_by_ent = df_2022.groupby('desc_mun')['pl8'].mean()
sorted_means = mean_by_ent.sort_values(ascending=False)
top_10 = sorted_means.head(10).reset_index()
top_10['desc_mun'] = top_10['desc_mun'].str[4:]

# Prepare the data for Bokeh
source = ColumnDataSource(top_10)

# Define output file (HTML) where the interactive plot will be saved
output_file("top_10_municipalities_mean_pl8.html")

# Create the figure
p = figure(x_range=top_10['desc_mun'], height=400, title="Mexico 2022: Top 10 Municipalities by Mean Blood Lead Level (BLL) Measurement (µg/dL)",
           toolbar_location="right", tools="pan,box_zoom,reset,save")

# Add a bar renderer with a color mapper for better visualization
p.vbar(x='desc_mun', top='pl8', width=0.9, source=source, legend_label="Mean PL8",
       line_color='white', fill_color='rgba(255, 0, 0, 0.5)')

# Customize the plot
p.xgrid.grid_line_color = None
p.y_range.start = 0
p.xaxis.major_label_orientation = "vertical"
p.xaxis.axis_label = "Municipalities"
p.yaxis.axis_label = "Mean BLL (µg/dL)"
p.title.text_font_size = '9pt'

# Add interactive hover tool
hover = HoverTool()
hover.tooltips = [("Municipality", "@desc_mun"), ("Mean PL8", "@pl8")]
p.add_tools(hover)

# Show the plot
show(p)

In [12]:
import geopandas as gpd
import pandas as pd

# Load the shapefile
shapefile_path = 'muni_2012gw/Muni_2012gw.shp'
gdf = gpd.read_file(shapefile_path)

# Preprocess df_2022
df_2022['desc_mun'] = df_2022['desc_mun'].str[4:].str.upper()

# Preprocess shapefile data
gdf['NOM_MUN'] = gdf['NOM_MUN'].str.upper()

# Merge shapefile data with df_2022
merged = gdf.merge(df_2022, left_on='NOM_MUN', right_on='desc_mun', how='inner')

# Check the result of the merge
print("Merged GeoDataFrame:")
print(merged.head())
print(f"Number of rows after merge: {len(merged)}")

# Calculate mean blood lead levels for each municipality in the merged data
mean_by_ent = merged.groupby('desc_mun')['pl8'].mean()
sorted_means = mean_by_ent.sort_values(ascending=False)
top_10 = sorted_means.head(10).reset_index()

# Check the top 10 municipalities
print("Top 10 Municipalities by Mean Blood Lead Level:")
print(top_10)

Merged GeoDataFrame:
  CVE_ENT CVE_MUN         NOM_MUN  OID_1  cov_  cov_id  \
0      01     005     JESÚS MARÍA      1     1       2
1      01     005     JESÚS MARÍA      1     1       2
2      01     005     JESÚS MARÍA      1     1       2
3      01     005     JESÚS MARÍA      1     1       2
4      01     001  AGUASCALIENTES      3     3       4

                                            geometry        FOLIO_I  \
0  POLYGON ((-102.33568 22.05067, -102.33348 22.0...  2022_01005008
1  POLYGON ((-102.33568 22.05067, -102.33348 22.0...  2022_01005011
2  POLYGON ((-102.33568 22.05067, -102.33348 22.0...  2022_01005017
3  POLYGON ((-102.33568 22.05067, -102.33348 22.0...  2022_01005019
4  POLYGON ((-102.10641 22.06035, -102.10368 22.0...  2022_01001007

          FOLIO_INT  t_hora  ...  comentario  tiempo  hora_fin  \
0  2022_01005008_03      11  ...         NaN      20  11:09:19
1  2022_01005011_04      16  ...     NINGUNO       3  16:24:10
2  2022_01005017_07      13  ...         NaN       8  13:08:33
3  2022_01005019_02      18  ...     NINGUNO       4  18:50:04
4  2022_01001007_04      15  ...         NaN      15  15:00:13

             fecha_fin completa otroent          ponde_f  estrato  est_sel  \
0  2022-08-11 00:00:00        1     NaN  702778745446162        2       12
1  2022-06-11 00:00:00        1     NaN  671361388170731        2       12
2  2022-08-11 00:00:00        1     NaN  670503966219045        2       12
3  2022-07-11 00:00:00        1     NaN  618080590054392        2       12
4  2022-09-11 00:00:00        1     NaN   22328141314048        3       13

            upm
0  100500010247
1  100500010247
2  100500010247
3  100500010247
4  100100011320

[5 rows x 103 columns]
Number of rows after merge: 1496
Top 10 Municipalities by Mean Blood Lead Level:
               desc_mun       pl8
0     CADEREYTA JIMÉNEZ  3.000000
1  SAN FELIPE ORIZATLÁN  2.333333
2       JALPA DE MÉNDEZ  2.285714
3                PUEBLA  2.250000
4               REYNOSA  2.200000
5          TAMAZUNCHALE  2.000000
6             PITIQUITO  2.000000
7             HUITIUPÁN  2.000000
8               PÉNJAMO  2.000000
9             RÍO BRAVO  2.000000

In [13]:
# Create a new column 'geometry' in top_10
top_10['geometry'] = None

# Iterate through each municipality in top_10
for i, row in top_10.iterrows():
    # Find the corresponding row in merged
    matching_row = merged[merged['desc_mun'] == row['desc_mun']]
    
    if not matching_row.empty:
        # Extract the geometry from the matched row
        top_10.at[i, 'geometry'] = matching_row.iloc[0]['geometry']

print("Top 10 Municipalities by Mean Blood Lead Level with Geometry:")
print(top_10)

Top 10 Municipalities by Mean Blood Lead Level with Geometry:
               desc_mun       pl8  \
0     CADEREYTA JIMÉNEZ  3.000000
1  SAN FELIPE ORIZATLÁN  2.333333
2       JALPA DE MÉNDEZ  2.285714
3                PUEBLA  2.250000
4               REYNOSA  2.200000
5          TAMAZUNCHALE  2.000000
6             PITIQUITO  2.000000
7             HUITIUPÁN  2.000000
8               PÉNJAMO  2.000000
9             RÍO BRAVO  2.000000

                                            geometry
0  POLYGON ((-99.93008086105507 25.69451475052233...
1  POLYGON ((-98.48321139047157 21.39732498033002...
2  POLYGON ((-93.00662476663575 18.40451794669771...
3  POLYGON ((-98.02052188489085 19.20952545892952...
4  POLYGON ((-98.45569144384578 26.22062972220625...
5  POLYGON ((-98.6889461407328 21.32715487689512,...
6  POLYGON ((-112.09329264908618 30.8983178641285...
7  POLYGON ((-92.72347567704462 17.34768433272832...
8  POLYGON ((-101.77616685740891 20.6227262258706...
9  POLYGON ((-98.12623468788412 26.06193943321162...

In [14]:
import folium
from folium import CircleMarker
from shapely.geometry import shape

# Function to extract the centroid of a Polygon for plotting
def get_centroid(geometry):
    if geometry.is_empty:
        return None
    # Convert geometry to a Shapely shape
    geom_shape = shape(geometry)
    # Get the centroid coordinates
    centroid = geom_shape.centroid
    return [centroid.y, centroid.x]

# Create a base map centered around the mean coordinates
coords = [get_centroid(shape(geom)) for geom in top_10['geometry'] if get_centroid(shape(geom)) is not None]
map_center = [sum(c[0] for c in coords) / len(coords), sum(c[1] for c in coords) / len(coords)]
m = folium.Map(location=map_center, zoom_start=10)

# Define a function to map lead levels to colors
def get_color(level):
    if level < 3:
        return 'green'
    elif level < 5:
        return 'orange'
    else:
        return 'red'

# Add CircleMarkers to the map with color coding
for _, row in top_10.iterrows():
    centroid_coord = get_centroid(row['geometry'])
    if centroid_coord:
        color = get_color(row['mean_pl8'])
        popup_text = f"Municipality: {row['desc_mun']}<br>Blood Lead Level: {row['mean_pl8']} µg/dL"
        CircleMarker(
            location=centroid_coord,
            radius=10,
            color=color,
            fill=True,
            fill_color=color,
            popup=popup_text
        ).add_to(m)

# Save the interactive map as an HTML file
m.save('interactive_map_color.html')

KeyError: 'mean_pl8'